<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.css' %}">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/shared/style.css' %}">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="{% static 'css/demo_1/style.css' %}">
    <!-- Layout style -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <script type="text/javascript">
      window.onload = function(){
        $("#project").val("{{ project }}");
        $("#platform").val("{{ platform }}");
        message = "{{ message }}";
        showNumber = {{ shownum }};
      }
    </script>
  </head>
  <body class="header-fixed" id="thebody">
    <!-- partial:partials/_header.html -->
    <nav class="t-header">
      <div class="t-header-brand-wrapper">
        <a>
          <img class="logo" src="{% static 'images/logo.png' %}" alt="">
          <img class="logo-mini" src="{% static 'images/logo_mini.png' %}" alt="">
        </a>
      </div>
      <div class="t-header-content-wrapper">
        <div class="t-header-content">
          <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
            <i class="mdi mdi-menu"></i>
          </button>
          <form action="#" class="t-header-search-box">
            <div class="input-group">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" autocomplete="off">
              <button class="btn btn-primary" type="submit"><i class="mdi mdi-arrow-right-thick"></i></button>
            </div>
          </form>
          <ul class="nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="notificationDropdown" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-account mdi-1x">{{ username }}</i>
              </a>
              <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="notificationDropdown" style="width: 130px;">
                <div class="dropdown-body">
                  <div class="dropdown-list">
                    <div class="rounded-circle bg-inverse-primary text-primary">
                    </div>
                    <div class="content-wrapper" onclick="location.href='/user/';">
                      <small class="content-text">My information</small>
                    </div>
                  </div>
                  <div class="dropdown-list" onclick="location.href='/login/';">
                    <div class="rounded-circle bg-inverse-warning text-warning">
                    </div>
                    <div class="content-wrapper">
                      <small class="content-text">Logout</small>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- partial -->
    <div class="page-body">
      <!-- partial:partials/_sidebar.html -->
      <div class="sidebar">
        <div class="user-profile">
          <div class="display-avatar animated-avatar">
            <img class="profile-img img-lg rounded-circle" src="{% static 'images/image.png' %}" alt="profile image">
          </div>
          <div class="info-wrapper">
            <h3 class="user-name">{{ company }}</h3>
          </div>
        </div>
        <ul class="navigation-menu">
          <li class="nav-category-divider">HOME</li>
          <li>
            <a href="/home/">
              <span class="link-title">主页</span>
              <i class="mdi mdi-home link-icon"></i>
            </a>
          </li>
          <li class="nav-category-divider">AUTOMATED TESTING</li>
          <li>
            <a>
              <span class="link-title">自动化测试</span>
              <i class="mdi mdi-application link-icon"></i>
            </a>
          </li>
          <li>
            <a href="/automation/result/">
              <span class="link-title">结果</span>
              <i class="mdi mdi-application link-icon"></i>
            </a>
          </li>
          <li class="nav-category-divider">API TESTING</li>
          <li>
            <a href="/api/">
              <span class="link-title">接口测试</span>
              <i class="mdi mdi-application link-icon"></i>
            </a>
          </li>
          <li>
            <a href="/api/result/">
              <span class="link-title">结果</span>
              <i class="mdi mdi-application link-icon"></i>
            </a>
          </li>
          <li class="nav-category-divider">STRESS TESTING</li>
          <li>
            <a href="/stress/">
              <span class="link-title">压力测试</span>
              <i class="mdi mdi-application link-icon"></i>
            </a>
          </li>
          <li>
            <a href="/stress/result/">
              <span class="link-title">结果</span>
              <i class="mdi mdi-application link-icon"></i>
            </a>
          </li>
          <li class="nav-category-divider">USER</li>
          <li>
            <a href="/user/">
              <span class="link-title">My Information</span>
              <i class="mdi mdi-account link-icon"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- partial -->
      <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="modal" id="setExecuteTime" data-backdrop="true" style="position: fixed; ">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title">
                        <strong>执行时间</strong>
                      </h6>
                    </div>
                    <div class="modal-body">
                      <input type="datetime-local" name="executeTime" id="executeTime" min="{{ servertime }}" value="{{ servertime }}">
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-success btn-sm" data-dismiss="modal" id="addCrontab" name="addCrontab">
                        添加
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="showActivityLog" data-backdrop="true" style="position: fixed; ">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title">
                        <strong>Activity Log</strong>
                      </h6>
                    </div>
                    <div class="modal-body">
                      <div class="timeline-vertical">
                        {% for log in morelogs %}
                        <div class="activity-log">
                          <p class="log-name">{{ log.logname }}</p>
                          <div class="log-details"><span class="text-black">[{{ log.recordtime }}]</span> {{ username }} {{ log.data }}</div>
                          <small class="log-time">{{ log.pasttime}}</small>
                        </div>
                        {% empty %}
                        <pre class="text-gray" style="font-size: 14px;">Empty data.<h6></pre>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="editTask" data-backdrop="true" style="position: fixed; ">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title">
                        <strong>Operation of Task</strong>
                      </h6>
                    </div>
                    <div class="modal-body">
                      <div class="timeline-vertical">
                        <pre class="text-gray" style="font-size: 14px;">Not support yet.<h6></pre>
                      </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <div class="split-header">
                      <p class="card-title">Upload</p>
                    </div>
                  </div>
                  <div class="vertical-timeline-wrapper" >
                    <div class="row">
                      <div class="col-md-6 mx-auto">
                        <div class="form-group row">
                          <form class="form-group" method="POST" id="uploadTestCasesForm" enctype="multipart/form-data">
                            <label style="color: #778899">Project</label>
                            <select class="custom-select" id="caseProject" name="caseProject" style="width: 120px;padding: 0 15px;height: 30px;width: 400px;">
                              {% for project in projects %}
                              <option>{{ project }}</option>
                              {% endfor %}
                            </select>
                            <ul></ul>
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="caseFile" name="caseFile">
                              <label class="custom-file-label" for="caseFile">Choose File</label>
                            </div>
                            <ul></ul>
                            <label style="color: #787879">NOTICE!! You can only upload one file.</label>
                            <div class="modal-footer">
                              <a class="btn btn-success btn-sm" data-dismiss="modal" id="uploadTestCasesButton">
                                <i class="mdi mdi-cloud-upload"></i>
                                UPLOAD
                              </a>
                            </div>
                            {% csrf_token %}
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="grid-body py-3">
                    <div class="split-header">
                      <p class="card-title">Setup</p>
                    </div>
                  </div>
                  <div class="vertical-timeline-wrapper">
                    <div class="row mb-3">
                      <div class="col-md-8 mx-auto">
                        <form role="form" class="form-group" method="GET" id="projects">
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="project"><b class="text-black font-weight-medium d-block">Project</b></label>
                            </div>
                            <div class="col-md-8">
                              <select class="custom-select" id="project" name="project" style="padding: 0 15px;height: 30px;width: 300px;">
                                {% for project in projects %}
                                <option>{{ project }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          {% csrf_token %}
                        </form>
                        <div class="form-group row showcase_row_area">
                          <div class="col-md-3 showcase_text_area">
                            <label for="choosePlatform"><b class="text-black font-weight-medium d-block">Platform</b></label>
                          </div>
                          <div class="col-md-8 showcase_content_area">
                            <select class="custom-select" id="platform" name="platform" style="padding: 0 15px;height: 30px;width: 300px;">
                              {% for platform in platforms %}
                              <option>{{ platform }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="form-group row showcase_row_area">
                          <div class="col-md-3 showcase_text_area">
                            <label for="app"><b class="text-black font-weight-medium d-block">Packeage</b></label>
                          </div>
                          <div class="col-md-8 showcase_content_area">
                            <select class="custom-select" id="app" name="app" style="padding: 0 15px;height: 30px;width: 300px;">
                              {% for package in packages %}
                              <option>{{ package }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="form-group row showcase_row_area">
                          <div class="col-md-3 showcase_text_area">
                            <label for="chooseCaseFile"><b class="text-black font-weight-medium d-block">Test Case</b></label>
                          </div>
                          <div class="col-md-8 showcase_content_area">
                            <select class="custom-select" id="files" name="files" style="padding: 0 15px;height: 30px;width: 300px;">
                              {% for file in files %}
                              <option>{{ file }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="form-group row showcase_row_area">
                          <div class="col-md-3 showcase_text_area">
                            <label for="chooseServer"><b class="text-black font-weight-medium d-block">SubServer</b></label>
                          </div>
                          <div class="col-md-8 showcase_content_area">
                            <select class="custom-select" id="server" name="server" style="padding: 0 15px;height: 30px;width: 300px;">
                              {% for server in subservers %}
                              <option>{{ server }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="form-group row showcase_row_area"></div>
                        <div class="d-flex flex-row mt-4 mb-4">
                          <button class="btn btn-inverse-primary component-flat w-50 mr-2" type="button" id="addRealTimeTask" name="addRealTimeTask">添加任务</button>
                          <button class="btn btn-primary w-50 ml-2" type="button" data-toggle="modal" data-target="#setExecuteTime">定时任务</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <div class="split-header">
                      <p class="card-title">Activity Log <i class="text-gray" style="font-size: 8px;"> in 7 days</i></p>
                      <div class="btn-group">
                        <button class="btn action-btn btn-refresh btn-xs component-flat" onclick="refresh()">
                          <i class="mdi mdi-autorenew text-muted mdi-2x"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="vertical-timeline-wrapper">
                    <div class="timeline-vertical">
                      {% for log in logs %}
                      <div class="activity-log">
                        <p class="log-name">{{ log.logname }}</p>
                        <div class="log-details"><span class="text-black">[{{ log.recordtime }}]</span> {{ username }} {{ log.data }}</div>
                        <small class="log-time">{{ log.pasttime}}</small>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <button class="btn component-flat text-gray" data-toggle="modal" data-target="#showActivityLog">
                    <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i> View More </small>
                  </button>
                </div>
              </div>
              {% ifnotequal tasksnum 0 %}
              <div class="col-lg-12 equel-grid" id="myTasks">
                <div class="grid">
                  <div class="grid-body py-3">
                    <div class="split-header">
                      <p class="card-title">Personal Task Pool</p>
                    </div>
                  </div>
                  <table id="table" name="table" class="table table-hover table-sm">
                    <thead>
                      <tr class="solid-header">
                        <th style="width: 50px;">Select</th>
                        <th style="width: 50px;">Task Id</th>
                        <th style="width: 170px;">Project</th>
                        <th style="width: 30px;">Platform</th>
                        <th style="width: 200px;">Package</th>
                        <th style="width: 150px;">Test Case</th>
                        <th style="width: 150px;">SubServer</th>
                        <th style="width: 50px;">Exec Time
                          <span class="btn btn-trasnparent action-btn btn-xs component-flat pr-0" data-toggle="tooltip" data-placement="right" title="若执行时间早于当前时间, 即表明其会被尽快执行">
                            <i class="mdi mdi-information-outline text-muted mdi-2x"></i>
                          </span>
                        </th>
                        <th style="width: 50px;">Status</th>
                        <th style="width: 50px;"></th>
                      </tr>
                    </thead>
                    <tbody id="tasksPool" name="tasksPool">
                      {% for task in tasks %}
                      <tr class="solid-header" id="trId">
                        <td style = "word-wrap:break-word;white-space:normal;"><input type="checkbox" id="{{ task.id }}"></td>
                        <td style = "word-wrap:break-word;white-space:normal;">{{ task.id }}</td>
                        <td style = "word-wrap:break-word;white-space:normal;">{{ task.project }}</td>
                        <td style = "word-wrap:break-word;white-space:normal;">{{ task.platform }}</td>
                        <td style = "word-wrap:break-word;white-space:normal;">{{ task.package }}</td>
                        <td style = "word-wrap:break-word;white-space:normal;">{{ task.testcase }}</td>
                        <td style = "word-wrap:break-word;white-space:normal;">{{ task.server }}</td>
                        <td style = "word-wrap:break-word;white-space:normal;">{{ task.executetime }}</td>
                        <td style = "word-wrap:break-word;white-space:normal;">{{ task.status }}</td>
                        <td >
                          <div class="btn-group">
                            <button type="button" class="btn btn-trasnparent action-btn btn-xs component-flat pr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <button class="dropdown-item" data-toggle="modal" data-target="#editTask">Delete</button>
                              <button class="dropdown-item" onclick="resetTask('{{ task.id }}')">Reset</button>
                              <button class="dropdown-item" data-toggle="modal" data-target="#editTask">Edit</button>
                            </div>
                          </div>
                        </td>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="item-wrapper">
                    <div class="row">
                      <div class="col-md-8 mx-auto">
                        {% ifnotequal tasksnum shownum %}
                        <div class="form-group row showcase_row_area">
                          <div class="col-md-3 showcase_text_area"></div>
                          <div class="col-md-6 showcase_content_area">
                            <button class="btn d-block component-flat text-gray" onclick="loadMoreTasks()">
                              <small class="font-weight-medium" style="padding: 0 120px;"><i class="mdi mdi-chevron-down mr-2"></i>加载更多</small>
                            </button>
                          </div>
                        </div>
                        {% endifnotequal %}
                        <div class="form-group row showcase_row_area">
                          <div class="col-md-3 showcase_text_area"></div>
                          <div class="col-md-6 showcase_content_area">
                            <button class="btn btn-success has-icon btn-block mt-0" id="startTest" name="startTest" style="height: 30px;padding: 0 15px;">
                              <!-- <i class="mdi mdi-file-document"></i> -->
                              执行选中的任务
                            </button>
                          </div>
                        </div>
                        <div class="form-group row showcase_row_area">
                          <div class="col-md-3 showcase_text_area"></div>
                          <div class="col-md-6 showcase_content_area">
                            <button class="btn btn-danger has-icon btn-block mt-0" id="removeTask" name="removeTask" style="height: 30px;padding: 0 15px;">
                              <!-- <i class="mdi mdi-file-document"></i> -->
                              移除选中的任务
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endifnotequal %}
              {% ifnotequal totaltasksnum 0 %}
              <div class="col-lg-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <div class="split-header">
                      <p class="card-title">Task Pool</p>
                    </div>
                  </div>
                  <table id="table" name="table" class="table table-hover table-sm">
                      <thead>
                        <tr class="solid-header">
                          <th style="width: 50px;">Tester</th>
                          <th style="width: 170px;">Project</th>
                          <th style="width: 30px;">Platform</th>
                          <th style="width: 200px;">Package</th>
                          <th style="width: 150px;">Test Case</th>
                          <th style="width: 150px;">SubServer</th>
                          <th style="width: 50px;">Exec Time</th>
                          <th style="width: 50px;">Status</th>
                        </tr>
                      </thead>
                      <tbody id="tasksPool" name="tasksPool">
                        {% for task in totaltasks %}
                        <tr id="trId">
                          <td style = "word-wrap:break-word;white-space:normal;">{{ task.username }}</td>
                          {% if user.is_superuser %}
                          <td style = "word-wrap:break-word;white-space:normal;">{{ task.project }}</td>
                          <td style = "word-wrap:break-word;white-space:normal;">{{ task.platform }}</td>
                          <td style = "word-wrap:break-word;white-space:normal;">{{ task.package }}</td>
                          <td style = "word-wrap:break-word;white-space:normal;">{{ task.testcase }}</td>
                          {% else %}
                          <td style = "word-wrap:break-word;white-space:normal;">******</td>
                          <td style = "word-wrap:break-word;white-space:normal;">***</td>
                          <td style = "word-wrap:break-word;white-space:normal;">***.*****.***</td>
                          <td style = "word-wrap:break-word;white-space:normal;">*****.***</td>
                          {% endif %}
                          <td style = "word-wrap:break-word;white-space:normal;">{{ task.server }}</td>
                          <td style = "word-wrap:break-word;white-space:normal;">{{ task.executetime }}</td>
                          <td style = "word-wrap:break-word;white-space:normal;">{{ task.status }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              {% endifnotequal %}
            </div>
          </div>
        </div>
      </div>
      <!-- page content ends -->
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/core.js' %}"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="{% static 'vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'js/charts/chartjs.addon.js' %}"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/qauto/automation/automation.js' %}"></script>
    <!-- endbuild -->
    <script type="text/javascript">
      
    </script>
  </body>
</html>