<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.css' %}">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/shared/style.css' %}">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="{% static 'css/demo_1/style.css' %}">
    <!-- Layout style -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <script type="text/javascript">
      window.onload = function(){
        $("#game").val("{{ default_game }}");
        $("#chooseDevicesNumber").val("1");
        $("#resolution").val("");
        $("#retry").val("");
      }
    </script>
  </head>
  <body class="header-fixed" id="thebody">
    <!-- partial:partials/_header.html -->
    <nav class="t-header">
      <div class="t-header-brand-wrapper">
        <a>
          <img class="logo" src="{% static 'images/logo.png' %}" alt="">
          <img class="logo-mini" src="{% static 'images/logo_mini.png' %}" alt="">
        </a>
      </div>
      <div class="t-header-content-wrapper">
        <div class="t-header-content">
          <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
            <i class="mdi mdi-menu"></i>
          </button>
          <form action="#" class="t-header-search-box">
            <div class="input-group">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" autocomplete="off">
              <button class="btn btn-primary" type="submit"><i class="mdi mdi-arrow-right-thick"></i></button>
            </div>
          </form>
          <ul class="nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="notificationDropdown" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-account mdi-1x">{{ username }}</i>
              </a>
              <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="notificationDropdown" style="width: 130px;">
                <div class="dropdown-body">
                  <div class="dropdown-list">
                    <div class="rounded-circle bg-inverse-primary text-primary">
                    </div>
                    <div class="content-wrapper" onclick="location.href='/user';">
                      <small class="content-text">My information</small>
                    </div>
                  </div>
                  <div class="dropdown-list" onclick="location.href='/login';">
                    <div class="rounded-circle bg-inverse-warning text-warning">
                    </div>
                    <div class="content-wrapper">
                      <small class="content-text">Logout</small>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- partial -->
    <div class="page-body">
      <!-- partial:partials/_sidebar.html -->
      <div class="sidebar">
        <div class="user-profile">
          <div class="display-avatar animated-avatar">
            <img class="profile-img img-lg rounded-circle" src="{% static 'images/image.png' %}" alt="profile image">
          </div>
          <div class="info-wrapper">
            <p class="user-name">{{ company }}</p>
            <h6 class="display-income"></h6>
          </div>
        </div>
        <ul class="navigation-menu">
          <li class="nav-category-divider">HOME</li>
          <li>
            <a href="/home/">
              <span class="link-title">主页</span>
              <i class="mdi mdi-home link-icon"></i>
            </a>
          </li>
          <li class="nav-category-divider">STRESSTEST</li>
          <li>
            <a>
              <span class="link-title">压力测试</span>
              <i class="mdi mdi-application link-icon"></i>
            </a>
          </li>
          <li>
            <a href="/result/">
              <span class="link-title">结果</span>
              <i class="mdi mdi-application link-icon"></i>
            </a>
          </li>
          <li class="nav-category-divider">USER</li>
          <li>
            <a href="/user">
              <span class="link-title">My Information</span>
              <i class="mdi mdi-account link-icon"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- partial -->
      <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport" style="float: left;">
            <div class="row">
              <div class="modal" id="uploadPackage" data-backdrop="true" style="position: fixed;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" style="font-size: 20px">
                        <strong>Upload APK</strong>
                      </h6>
                    </div>
                    <div class="modal-body">
                      <form class="form-group" method="POST" id="uploadPackageForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label style="color: #778899">Choose Game of the APK</label>
                        <select class="custom-select" id="apkGame" name="apkGame" style="width: 120px;padding: 0 15px;height: 30px;width: 450px;">
                          {% for game in games %}
                          <option>{{ game }}</option>
                          {% endfor %}
                        </select>
                        <ul></ul>
                        <label style="color: #778899">Choose the APK</label>
                        <ul>
                          <input type="file" id="apk" name="apk">
                        </ul>
                        <ul></ul>
                        <label style="color: #787879">NOTICE!! Yo can only upload one file!!</label>
                        <div class="modal-footer">
                          <a class="btn btn-success btn-sm" data-dismiss="modal" id="uploadPackageButton">
                            <i class="mdi mdi-cloud-upload"></i>
                            UPLOAD
                          </a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="uploadImages" data-backdrop="true" style="position: fixed;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" style="font-size: 20px">
                        <strong>Upload IMAGES</strong>
                      </h6>
                    </div>
                    <div class="modal-body">
                      <form class="form-group" method="POST" id="uploadImagesForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label style="color: #778899">Choose Game of the IMAGES</label>
                        <select class="custom-select" id="imagesGame" name="imagesGame" style="width: 120px;padding: 0 15px;height: 30px;width: 450px;">
                          {% for game in games %}
                          <option>{{ game }}</option>
                          {% endfor %}
                        </select>
                        <ul></ul>
                        <label style="color: #778899">Choose the IMAGES</label>
                        <ul>
                          <input type="file" id="images" name="images" multiple />
                        </ul>
                        <ul></ul>
                        <label style="color: #787879">NOTICE!! Better not upload IMAGE which doesn't end with .png!!</label>
                        <div class="modal-footer">
                          <a class="btn btn-success btn-sm" data-dismiss="modal" id="uploadImagesButton">
                            <i class="mdi mdi-cloud-upload"></i>
                            UPLOAD
                          </a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="uploadSteps" data-backdrop="true" style="position: fixed;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" style="font-size: 20px">
                        <strong>Upload STEPS</strong>
                      </h6>
                    </div>
                    <div class="modal-body">
                      <form class="form-group" method="POST" id="uploadStepsForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label style="color: #778899">Choose Game of the STEPS</label>
                        <select class="custom-select" id="stepsGame" name="stepsGame" style="width: 120px;padding: 0 15px;height: 30px;width: 450px;">
                          {% for game in games %}
                          <option>{{ game }}</option>
                          {% endfor %}
                        </select>
                        <ul></ul>
                        <label style="color: #778899">Choose the EXCEL STEPS</label>
                        <ul>
                          <input type="file" id="excelSteps" name="excelSteps">
                        </ul>
                        <ul></ul>
                        <label style="color: #778899">Choose the PYTHON STEPS</label>
                        <ul>
                          <input type="file" id="pythonSteps" name="pythonSteps">
                        </ul>
                        <ul></ul>
                        <label style="color: #787879">NOTICE!! You can only upload one file!!</label>
                        <div class="modal-footer">
                          <a class="btn btn-success btn-sm" data-dismiss="modal" id="uploadStepsButton">
                            <i class="mdi mdi-cloud-upload"></i>
                            UPLOAD
                          </a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="uninstallPackage" data-backdrop="true" style="position: fixed;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="modal-title">
                        <strong>UNINSTALL仅会卸载与您输入内容一致的应用!!!</strong>
                      </div>
                    </div>

                    <div class="modal-body">
                      <form class="form-group" method="POST" id="uninstallPackageForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label style="color: #778899"></label>
                        <ul>
                          <input id="uninstall" name="uninstall" placeholder="For example: com.cl.c3d" style="width: 200px;">
                          <a class="btn btn-success btn-sm" data-dismiss="modal" id="uninstallPackageButton" style="float: right; margin-right: 50px;">
                            <i class="mdi mdi-cloud-upload"></i>
                            UNINSTALL
                          </a>
                        </ul>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="fuzzyUninstallPackage" data-backdrop="true" style="position: fixed;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="modal-title">
                        <strong>FUZZY UNINSTALL将会卸载所有包含您输入内容的应用, 请谨慎使用!!!</strong>
                      </div>
                    </div>
                    <div class="modal-body">
                      <form class="form-group" method="POST" id="fuzzyUninstallPackageForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label style="color: #778899"></label>
                        <ul>
                          <input id="fuzzyUninstall" name="fuzzyUninstall" placeholder="For example: com.cl.c3d" style="width: 200px;">
                          <a class="btn btn-success btn-sm" data-dismiss="modal" id="fuzzyUninstallPackageButton" style="float: right; margin-right: 50px;">
                            <i class="mdi mdi-cloud-upload"></i>
                            FUZZY UNINSTALL
                          </a>
                        </ul>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="installPackage" data-backdrop="true" style="position: fixed;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="modal-title">
                        <strong>选择APP和输入包名后, 我们将为您在对应数量的云手机上进行安装</strong>
                      </div>
                    </div>
                    <div class="modal-body">
                      <form class="form-group" method="POST" id="installPackageForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label style="color: #778899"></label>
                        <ul>
                          <select class="custom-select" id="installApk" name="installApk" style="width: 120px;padding: 0 15px;height: 30px;width: 200px;">
                            {% for apk in apks %}
                            <option>{{ apk }}</option>
                            {% endfor %}
                          </select>
                        </ul>
                        <ul>
                          <input id="installPackage" name="installPackage" placeholder="For example: com.cl.c3d" style="width: 200px;">
                          <a class="btn btn-success btn-sm" data-dismiss="modal" id="installPackageButton" style="float: right; margin-right: 50px;">
                            <i class="mdi mdi-cloud-upload"></i>
                            INSTALL
                          </a>
                        </ul>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12" style="height: 270px">
                <div class="grid">
                  <p class="grid-header"><font size="5"><b>上传测试文件</b></font></p>
                  <div class="grid-body">
                    <div class="item-wrapper">
                      <div class="row" style="width: 750px;">
                        <div class="col-md-8 mx-auto">
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area"></div>
                            <div class="col-md-9 showcase_content_area">
                              <button class="btn btn-secondary has-icon btn-block mt-0" data-toggle="modal" data-target="#uploadPackage" style="height: 30px;padding: 0 15px;">
                                <i class="mdi mdi-cloud-upload"></i>
                                上传安装包
                              </button>
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area"></div>
                            <div class="col-md-9 showcase_content_area">
                              <button data-toggle="modal" data-target="#uploadImages" class="btn btn-secondary has-icon btn-block mt-0" style="height: 30px;padding: 0 15px;">
                                <i class="mdi mdi-cloud-upload"></i>
                                上传图片集
                              </button>
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area"></div>
                            <div class="col-md-9 showcase_content_area">
                              <button data-toggle="modal" data-target="#uploadSteps" class="btn btn-secondary has-icon btn-block mt-0" style="height: 30px;padding: 0 15px;">
                                <i class="mdi mdi-cloud-upload"></i>
                                上传步骤表
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12" style="height: 150px">
                <div class="grid">
                  <p class="grid-header"><font size="5"><b>手机数量设置</b></font></p>
                  <div class="grid-body">
                    <div class="item-wrapper">
                      <div class="row" style="width: 750px;">
                        <div class="col-md-8 mx-auto">
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label style="color: #787879;"><b>手机数</b></label>
                            </div>
                            <div class="col-md-3 showcase_content_area">
                              <select class="custom-select" id="chooseDevicesNumber" name="chooseDevicesNumber" style="width: 120px;padding: 0 15px;height: 30px;width: 110px;">
                                <option></option>
                                <option>1</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                                <option>200</option>
                                <option>500</option>
                                <option>1000</option>
                                <option>1500</option>
                              </select>
                            </div>
                            <div class="col-mid-6 show_text_area">
                              <input type="text" class="form-control" id="setDevicesNumber" name="_setDevicesNumber" placeholder="输入手机数量" style="width: 240px;">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12" style="height: 330px">
                <div class="grid">
                  <p class="grid-header"><font size="5"><b>游戏安装管理</b></font></p>
                  <div class="grid-body">
                    <div class="item-wrapper">
                      <div class="row" style="width: 750px;">
                        <div class="col-md-8 mx-auto">
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area"></div>
                            <div class="col-md-9 showcase_content_area">
                              <button class="btn btn-secondary has-icon btn-block mt-0" data-toggle="modal" data-target="#uninstallPackage" style="height: 30px;padding: 0 15px;">
                                <i class="mdi mdi-cloud-upload"></i>
                                卸载指定应用
                              </button>
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area"></div>
                            <div class="col-md-9 showcase_content_area">
                              <button class="btn btn-secondary has-icon btn-block mt-0" data-toggle="modal" data-target="#fuzzyUninstallPackage" style="height: 30px;padding: 0 15px;">
                                <i class="mdi mdi-cloud-upload"></i>
                                模糊卸载应用
                              </button>
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area"></div>
                            <div class="col-md-9 showcase_content_area">
                              <button data-toggle="modal" data-target="#installPackage" class="btn btn-secondary has-icon btn-block mt-0" style="height: 30px;padding: 0 15px;">
                                <i class="mdi mdi-cloud-upload"></i>
                                安装指定应用
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="grid">
                  <p class="grid-header"><font size="5"><b>配置测试信息</b></font></p>
                  <div class="grid-body">
                    <div class="item-wrapper">
                      <div class="row mb-3" style="width: 750px;">
                        <div class="col-md-8 mx-auto">
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="choose_game" style="color: #787879;"><b>游戏</b></label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                              <select class="custom-select" id="game" name="game" style="width: 120px;padding: 0 15px;height: 30px;width: 360px;">
                                {% for game in games %}
                                <option>{{ game }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <!-- <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="choose_apk" style="color: #787879;"><b>安装包</b></label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                              <select class="custom-select" id="apkname" name="apkname" style="width: 120px;padding: 0 15px;height: 30px;width: 360px;">
                                {% for apk in apks %}
                                <option>{{ apk }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div> -->
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="choose_resolutions" style="color: #787879;"><b>分辨率</b></label>
                            </div>
                            <div class="col-md-3 showcase_text_area">
                              <select class="custom-select" id="resolution" name="resolution" style="padding: 0 15px;height: 30px;width: 110px;">
                                {% for resolution in resolutions %}
                                <option>{{ resolution }}</option>
                                {% endfor %}
                              </select>
                              <!-- <button data-toggle="modal" data-target="#set_resolution" class="btn btn-secondary has-icon btn-block mt-0" style="height: 30px;padding: 0 15px;">
                                <i class="mdi mdi-settings-box"></i>
                                设置其它分辨率
                              </button> -->
                            </div>
                            <div class="col-mid-3 show_text_area">
                              <input type="text" class="form-control" id="resol_x" name="resol_x" placeholder="输入分辨率 X" style="width: 120px;">
                            </div>
                            <div class="col-mid-3 show_text_area">
                              <input type="text" class="form-control" id="resol_y" name="resol_y" placeholder="输入分辨率 Y" style="width: 120px;">
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="package" style="color: #787879;"><b>应用包名</b></label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                              <input type="text" class="form-control" id="package" name="package" placeholder="For example: com.cl.c3d">
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="retry" style="color: #787879;"><b>失败重试图片</b></label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                              <select class="custom-select" id="retry" name="retry" style="padding: 0 15px;height: 30px;width: 360px;">
                                {% for image in images %}
                                <option>{{ image }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="level" style="color: #787879;"><b>最后等级</b></label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                              <input type="text" class="form-control" id="level" placeholder="输入后结果将判断等级, 若两处等级不符, 标记为失败">
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="runtime" style="color: #787879;"><b>执行时长</b></label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                              <input type="text" class="form-control" id="runtime" placeholder="默认执行时长为120分钟">
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area"></div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area"></div>
                            <div class="col-md-9 showcase_text_area">
                              <button class="btn btn-success has-icon btn-block mt-0" id="startTest" name="startTest" style="height: 30px;padding: 0 15px;">
                                <i class="mdi mdi-file-document"></i>
                                开始自动化测试
                              </button>
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area"></div>
                            <div class="col-md-9 showcase_text_area">
                              <button class="btn btn-danger has-icon btn-block mt-0" id="stopTest" name="stopTest" style="height: 30px;padding: 0 15px;">
                                <i class="mdi mdi-file-document"></i>
                                中断自动化测试
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- page content ends -->
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/core.js' %}"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="{% static 'vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'js/charts/chartjs.addon.js' %}"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- endbuild -->
    <script type="text/javascript">
      $(window).on("load", function(){
        if ("{{ message }}" == "None"){
          return;
        }
        else {
          alert("{{ message }}");
        }
      });
      $("#uploadPackageButton").click(function(){
        var game = $("#apkGame").val();
        var apk = $("#apk").val();
        if (game == "所有游戏"){
          alert("未选择游戏!!!");
          return;
        }
        else if (apk == ""){
          alert("请选择游戏安装包!!!");
          return;
        }
        else if ((apk.slice(-4) == ".apk") != true){
          alert("游戏包非以.APK结尾!!!");
          return;
        }
        var sentence = "  再次确认上传内容:\n  游戏:    " + game + "\n  游戏包: " + apk;
        if(confirm(sentence)){
          $("#uploadPackageForm").submit();
        }
      });
      $("#uploadImagesButton").click(function(){
        var game = $("#imagesGame").val();
        var images = $("#images")[0].files;
        if (game == "所有游戏"){
          alert("未选择游戏!!!");
          return;
        }
        else if (images == ""){
          alert("请选择游戏图片集!!!");
          return;
        }
        var sentence = "  再次确认上传内容:\n  游戏:    " + game + "\n  图片集: ";
        for (i=0; i<images.length; i++){
          sentence += "\n            " + images[i].name;
          if ((images[i].name.slice(-4) == ".png") != true){
            alert("图片集中有图片非以.PNG结尾!!!");
            return;
          }
        } 
        if(confirm(sentence)){
          $("#uploadImagesForm").submit();
        }
      });
      $("#uploadStepsButton").click(function(){
        var game = $("#stepsGame").val();
        var excel = $("#excelSteps").val();
        var pyfile = $("#pythonSteps").val();
        if (game == "所有游戏"){
          alert("未选择游戏!!!");
          return;
        }
        else if (excel == "" && pyfile == ""){
          alert("请选择测试步骤文件!!!");
          return;
        }
        else if ((excel != "") == true){
            if ((excel.slice(-4) == ".xls") != true && (excel.slice(-4) == "xlsx") != true){
            alert("测试步骤文件非以.XLS或.XLSX结尾!!!");
            return;
          }
        }
        else if ((pyfile != "") == true){
          if ((pyfile.slice(-3) == ".py") != true){
            alert("测试步骤文件非以.PY结尾!!!");
            return;
          }
        }
        var sentence = "  再次确认上传内容:\n  游戏:    " + game + "\n  测试步骤文件: " + excel;
        if(confirm(sentence)){
          $("#uploadStepsForm").submit();
        }
      });
      $("#uploadPackage").on("show.bs.modal", function(e){
        $(this).css("display", "block");
        $(this).find(".modal-dialog").css({
          "margin-top": $(window).height() / 2 - 200
        });
      });
      $("#uploadImages").on("show.bs.modal", function(e){
        $(this).css("display", "block");
        $(this).find(".modal-dialog").css({
          "margin-top": $(window).height() / 2 - 200
        });
      });
      $("#uploadSteps").on("show.bs.modal", function(e){
        $(this).css("display", "block");
        $(this).find(".modal-dialog").css({
          "margin-top": $(window).height() / 2 - 200
        });
      });
      $("#uninstallPackage").on("show.bs.modal", function(e){
        $(this).css("display", "block");
        $(this).find(".modal-dialog").css({
          "margin-top": $(window).height() / 2 - 100
        });
      });
      $("#fuzzyUninstallPackage").on("show.bs.modal", function(e){
        $(this).css("display", "block");
        $(this).find(".modal-dialog").css({
          "margin-top": $(window).height() / 2 - 100
        });
      });
      $("#installPackage").on("show.bs.modal", function(e){
        $(this).css("display", "block");
        $(this).find(".modal-dialog").css({
          "margin-top": $(window).height() / 2 - 100
        });
      });
      $("#uninstallPackageButton").click(function(){
        var package = $("#uninstall").val();
        var choDevNum = $("#chooseDevicesNumber").val();
        var setDevNum = $("#setDevicesNumber").val();
        console.log(package);
        if (package == ""){
          alert("请输入应用包名!!!");
          return
        }
        else if (choDevNum == "" && setDevNum == ""){
          alert("请选择或输入设备数量!!!");
          return;
        }
        if (confirm("确定卸载该应用?")){
          $.ajax({
            cache: false,
            url: "uninstall/",
            dataType: 'text',
            type: 'POST',
            async: true,
            data: {
              "choDevNum": choDevNum,
              "setDevNum": setDevNum,
              "package": package,
            },
            success: function(data){
              alert(JSON.parse(data));
            }
          })
        }
      });
      $("#fuzzyUninstallPackageButton").click(function(){
        var package = $("#fuzzyUninstall").val();
        var choDevNum = $("#chooseDevicesNumber").val();
        var setDevNum = $("#setDevicesNumber").val();
        console.log(package);
        if (package == ""){
          alert("请输入应用包名!!!");
          return
        }
        else if (choDevNum == "" && setDevNum == ""){
          alert("请选择或输入设备数量!!!");
          return;
        }
        if (confirm("确定卸载该应用?")){
          $.ajax({
            cache: false,
            url: "fuzzy_uninstall/",
            dataType: 'text',
            type: 'POST',
            async: true,
            data: {
              "choDevNum": choDevNum,
              "setDevNum": setDevNum,
              "package": package,
            },
            success: function(data){
              alert(JSON.parse(data));
            }
          })
        }
      });
      $("#installPackageButton").click(function(){
        var apk = $("#installApk").val();
        var package = $("#installPackage").val();
        var choDevNum = $("#chooseDevicesNumber").val();
        var setDevNum = $("#setDevicesNumber").val();
        console.log(package);
        if (package == ""){
          alert("请输入应用包名!!!");
          return
        }
        else if (choDevNum == "" && setDevNum == ""){
          alert("请选择或输入设备数量!!!");
          return;
        }
        if (confirm("确定卸载该应用?")){
          $.ajax({
            cache: false,
            url: "install/",
            dataType: 'text',
            type: 'POST',
            async: true,
            data: {
              "choDevNum": choDevNum,
              "setDevNum": setDevNum,
              "apk": apk,
              "package": package,
            },
            success: function(data){
              alert(JSON.parse(data));
            }
          })
        }
      });
      $("#startTest").click(function(){
        var game = $("#game").val();
        var package = $("#package").val();
        var choDevNum = $("#chooseDevicesNumber").val();
        var setDevNum = $("#setDevicesNumber").val();
        var level = $("#level").val();
        var runtime = $("#runtime").val();
        if (game == "所有游戏"){
          alert("未选择游戏!!!");
          return;
        }
        else if (choDevNum == "" && setDevNum == ""){
          alert("请选择或输入设备数量!!!");
          return;
        }
        else if (package == ""){
          alert("请输入应用包名!!!");
          return;
        }
        $.ajax({
          cache: false,
          url: "execute/",
          dataType: 'text',
          type: 'POST',
          async: true,
          data: {
            "game": game,
            "choDevNum": choDevNum,
            "setDevNum": setDevNum,
            "resolution": $("#resolution").val(),
            "resol_x": $("#resol_x").val(),
            "resol_y": $("#resol_y").val(),
            "package": package,
            "level": level,
            "runtime": runtime,
          },
          success: function(data){
            alert(JSON.parse(data));
          }
        })
      });
      $("#stopTest").click(function(){
        if (confirm("确定中断自动化测试?")){
          $.ajax({
            cache: false,
            url: "stop/",
            dataType: 'text',
            type: 'POST',
            async: true,
            data: {
              "stop": "stop",
              "game": $("#game").val(),
            },
            success: function(data){
              alert(JSON.parse(data));
            }
          });
        }
      });
    </script>
  </body>
</html>